
<div class="header">
	<header> 
	<% if(user) { %>
		<p>Welcome  <%=  user.email%></p>
		<!-- LOGOUT FORM -->
		<form method="POST" action="/logout">
			<input type="submit" name="logout" value="logout">
		</form>
	<% } else {%>

	<!-- LOGIN FORM --> 
		<form method="POST" action="/login">
			<p><a href="/urls/register">REGISTER</a><a href="/urls/login">LOGIN</a></p>
		</form>

	<% } %>
	
	</header>
</div>







	

		