<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<!--	<header><% include ./patials/_header.ejs%></header>  -->
    <p><%= shortURL %> : <%= longURL %></p>
</body>
</html

