<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<!--	<header><% include ./patials/_header.ejs%></header>
   <pre><%= JSON.stringify(urls) %></pre>   -->
    <ul><% for( const url in urls){%>
    	<li>
    		<%= url%> : <% urls[url]%>
    	</li>
		<% } %>     
     </ul>
     <a href="#">click to short</a>

</body>
</html