<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>TinyApp-Login</title>
  </head>
  <body >
    <!-- LOGOUT FORM -->
    <div>
      <form method="POST" action="/logout">
        <input type="submit" name="logout" value="Home">
      </form>
      <!-- LOGIN FORM -->
      <form action="/login" method="POST">
        <p>Email</p><input id="email" type="email" name="email" placeholder="enter your email" style="width: 300px">
        <p>Password</p><input id="password" type="password" name="password" placeholder="password" style="width: 300px">
        <input type="submit" name="login" value="login">
      
        <% if(locals.error){ %>
        <p style="color: tomato;"><%= error %></p>
        <% } %>
      </form>

    </div>

  </body>
</html>