<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
	<% include ./partials/_header.ejs%>
<!--   <pre><%= JSON.stringify(urls) %></pre>   -->
    <ul><% for( var url in urls){%>
    	<li>
    		<%= url%> ---> <%= urls[url]%>
    		<form method="POST" action="/urls/9sm5xK/delete"><input type="submit" value="DELETE">
    </form></form>

    	</li>
		<% } %>     
     </ul>
     <a href="#">click to short</a>

</body>
</html